Repository youzan/zent: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, eslint, sass-lint -vq

fix ts error
  packages/zent/src/cascader/Cascader.tsx
  packages/zent/src/datetimepicker/month/MonthPanelBody.tsx
  packages/zent/src/form/createForm.tsx
  packages/zent/src/loading/hooks/useDelayed.ts
  packages/zent/src/notify/Notify.tsx
  packages/zent/src/pagination/impl/BasePagination.ts
  packages/zent/src/slider/Points.tsx
  packages/zent/src/tabs/components/navUtil.ts
  packages/zent/src/tabs/index.tsx
  packages/zent/src/tag/Tag.tsx
  packages/zent/src/tree/Tree.tsx
  packages/zent/src/upload/components/FileInput.tsx
  packages/zent/src/upload/components/UploadPopup.tsx
  packages/zent/src/utils/prop-types.ts
  packages/zent/tsconfig.json
Due: none

fix: Field value is updated when componentWillReceiveProps
  packages/zent/src/form/Field.js
Due: yarn format, eslint

breaking: use strict equal for form validations: equals and equalsField
  packages/zent/__tests__/form/ValidationRules.js
Due: yarn format, eslint

fix: upgrade jest to 24
  .lintstagedrc
  package.json
  packages/babel-plugin-zent/package.json
  packages/zent/__tests__/infinite-scroller.js
  packages/zent/__tests__/utils/prop-types.js
  packages/zent/package.json
  packages/zent/src/loading/hooks/useDelayed.ts
  scripts/clean-packages.sh
  site/package.json
  yarn.lock
Due: yarn format, eslint

fix tslint deprecates
  packages/zent/__tests__/utils/date.js
  packages/zent/src/checkbox/Checkbox.tsx
  packages/zent/src/colorpicker/common/EditableInput.tsx
  packages/zent/src/datetimepicker/utils/index.ts
  packages/zent/src/form/Field.tsx
  packages/zent/src/form/FieldArray.tsx
  packages/zent/src/form/Form.tsx
  packages/zent/src/form/FormContext.tsx
  packages/zent/src/form/FormSection.tsx
  packages/zent/src/i18n/I18nReceiver.ts
  packages/zent/src/i18n/en-US.ts
  packages/zent/src/i18n/index.ts
  packages/zent/src/i18n/locale.ts
  packages/zent/src/i18n/time-locale.ts
  packages/zent/src/i18n/zh-CN.ts
  packages/zent/src/input/Input.tsx
  packages/zent/src/portal/withESCToClose.tsx
  packages/zent/src/radio/AbstractRadio.ts
  packages/zent/src/select/Popup.tsx
  packages/zent/src/select/constants.ts
  packages/zent/src/utils/component/AnimateHeight.tsx
  packages/zent/src/utils/date/formatDate.ts
  packages/zent/src/utils/date/i18n.ts
  packages/zent/src/utils/date/parseDate.ts
Due: yarn format, eslint

refactory number-input
  packages/zent/__tests__/number-input.js
  packages/zent/assets/number-input.scss
  packages/zent/package.json
  packages/zent/src/input/Input.tsx
  packages/zent/src/number-input/NumberInput.tsx
  yarn.lock
Due: yarn format, eslint, sass-lint -vq

fix types
  packages/zent/src/number-input/NumberInput.tsx
Due: none

[number-input] fix an edge case causing unnecessary onChange
  packages/zent/src/number-input/NumberInput.tsx
Due: none

fix ci lint
  packages/zent/assets/number-input.scss
Due: yarn format, sass-lint -vq

fix lint
  packages/zent/assets/number-input.scss
Due: yarn format, sass-lint -vq

fix input tests
  packages/zent/__tests__/input.js
Due: yarn format, eslint

fix number input, replace strange onChange
  packages/zent/__tests__/number-input.js
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/demos/event-handler.md
Due: yarn format, eslint

update docs
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

remove useless comments
  packages/zent/__tests__/input.js
Due: yarn format, eslint

add method `contains` for portal
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/context.ts
Due: none

fix type
  packages/zent/src/portal/withNonScrollable.tsx
Due: none

fix slider
  packages/zent/__tests__/slider.js
  packages/zent/src/slider/InputField.tsx
  packages/zent/src/slider/Slider.tsx
Due: yarn format, eslint

add method `contains` for portal (#1033)
  packages/zent/src/portal/LayeredPortal.tsx
  packages/zent/src/portal/Portal.tsx
  packages/zent/src/portal/PurePortal.tsx
  packages/zent/src/portal/context.ts
  packages/zent/src/portal/withNonScrollable.tsx
Due: none

replace decimal.js with big.js to reduce size
  packages/zent/package.json
  packages/zent/src/number-input/NumberInput.tsx
  yarn.lock
Due: none

fix: update block header
  packages/zent/typings/libs/BlockHeader.d.ts
Due: none

[refactory] number input (#1025)
  packages/zent/RELEASE_NEXT.md
  packages/zent/__tests__/input.js
  packages/zent/__tests__/number-input.js
  packages/zent/__tests__/slider.js
  packages/zent/assets/number-input.scss
  packages/zent/package.json
  packages/zent/src/input/Input.tsx
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/number-input/demos/event-handler.md
  packages/zent/src/slider/InputField.tsx
  packages/zent/src/slider/Slider.tsx
  yarn.lock
Due: yarn format, eslint, sass-lint -vq

update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
Due: none

Publish
  packages/babel-plugin-zent/package.json
  packages/zent/package.json
Due: none

fix number input
  packages/zent/assets/number-input.scss
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/timeline/demos/dynamic.md
Due: yarn format, sass-lint -vq

fix number input doc style
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

fix number input style
  packages/zent/assets/number-input.scss
Due: yarn format, sass-lint -vq

fix number input
  packages/zent/src/number-input/NumberInput.tsx
Due: none

[bugfix] number input (#1035)
  packages/zent/assets/number-input.scss
  packages/zent/src/number-input/NumberInput.tsx
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
  packages/zent/src/timeline/demos/dynamic.md
Due: yarn format, sass-lint -vq

update RELEASE_NEXT
  packages/zent/RELEASE_NEXT.md
  packages/zent/src/timeline/README_zh-CN.md
Due: none

Publish
  packages/zent/package.json
Due: none

doc: fix NumberInput default value
  packages/zent/src/number-input/README_en-US.md
  packages/zent/src/number-input/README_zh-CN.md
Due: none

improve types
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Group.tsx
Due: none

replace componentWillReceiveProps with getDerivedStateFromProp in Avatar
  packages/zent/src/avatar/Avatar.tsx
Due: none

replace componentWillReceiveProps with getDerivedStateFromProp in Avatar (#1037)
  packages/zent/src/avatar/Avatar.tsx
Due: none

improve types (#1036)
  packages/zent/src/affix/Affix.tsx
  packages/zent/src/alert/Alert.tsx
  packages/zent/src/badge/Badge.tsx
  packages/zent/src/block-header/BlockHeader.tsx
  packages/zent/src/breadcrumb/Breadcrumb.tsx
  packages/zent/src/button/Button.tsx
  packages/zent/src/button/Group.tsx
Due: none

Path conditions:
  yarn format: (any of: *.js) or (any of: *.scss)
  eslint: any of: *.js
  sass-lint -vq: any of: *.scss
